# Données — jamais committées (licences tierces, volume)
data/*
!data/.gitkeep
*.csv.gz
artifacts/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
build/
dist/

# Notebooks
.ipynb_checkpoints/

# Outils
.pytest_cache/
.ruff_cache/
.DS_Store
_to_delete/
